@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte1: #7fbe64c4;
    --fonte2: #52ca60e7;
    --fonte3: #98CF9F;
    --fonte4: #4ab657;
}

body{
    background-color: var(--fonte1);
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.entrar{
    color: #4AB657;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-style: 10px;
    width: 55px;
    position: relative;
    top: -60px;
    left: -30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#formlogin{
    background-color: white;
    margin: auto;
    
    box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.26);
    text-align: center;
    padding: 30px;
    width: 50vh;
    border-radius: 10px;
}

#formlogin > div{
    padding: 10px;
    position: relative;
    top: -30px;
}

div > p {
    text-align: left;
}

.caixa{
    background-color: #d3d3d348;
    border: none;
    padding: 15px;
    width: 260px;
    border-radius: 5px;
}
input::placeholder{
    color: #949494ec;
}

input.btn {
    border: none;
    padding: 15px;
    width: 290px;
    color: white;
    background-color: var(--fonte2);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--fonte4);
}

p{
    color: rgba(128, 128, 128, 0.486);
}

a{
    text-decoration: none;
    color: var(--fonte3);
}
a:hover{
    text-decoration: underline;
}

#formsign{
    position: absolute;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.26);
    text-align: center;
    padding: 30px;
    width: 50vh;
    height: auto;
    border-radius: 10px;
    top: 470px;
    left: 160px;
}

#formsign > div {
    padding: 10px;
}

form#sign > p.entrar{
    left: 44px;
}

form.active{
    color: black;
}