@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte1: #7fbe64c4;
    --fonte2: #52ca60e7;
    --fonte3: #98CF9F;
    --fonte4: #4ab657;
}

body{
    background-image: linear-gradient(to right bottom, var(--fonte1), #177421e7);
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.entrar{
    color: #4AB657;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-style: 10px;
    width: 55px;
    position: relative;
    top: -60px;
    left: -30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#formlogin{
    background-color: white;
    margin: auto;
    
    box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.26);
    text-align: center;
    padding: 30px;
    width: 50vh;
    border-radius: 10px;
}

#formlogin > div{
    padding: 10px;
    position: relative;
    top: -30px;
}

div > p {
    text-align: center;
    color: green;
}

.caixa{
    background-color: #d3d3d348;
    border: none;
    padding: 15px;
    width: 260px;
    border-radius: 5px;
    font-size: 16px;
}
input::placeholder{
    color: #949494ec;
}

input.btn {
    border: none;
    padding: 15px;
    width: 290px;
    color: white;
    background-color: var(--fonte2);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--fonte4);
}

p{
    color: rgba(128, 128, 128, 0.486);
}

a{
    text-decoration: none;
    color: var(--fonte3);
}
a:hover{
    text-decoration: underline;
}

#formsign{
    margin: auto;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.26);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50vh;
    border-radius: 10px;
    
}

#formsign > div {
    padding: 10px;
    
}

form#sign > p.entrar{
    left: 44px;
}

table{
    border-collapse: separate;
    border: none;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 80vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

a.btn {
    color:black;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    
}

table th {
    background-color: var(--fonte4);
    padding: 10px;
    margin: auto;
}
table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    
}
#acoes {
    border-top-right-radius: 10px;
}
.colunaacao {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.colunanome {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table tr:hover{
    background-color: var(--fonte3);
}

table td input{
    border: none;
    padding: 5px;
    color: white;
    background-color: var(--fonte2);
    cursor: pointer;

}

table td input.del {
    background-color: #cc2424;
}

table td input.del:hover {
    background-color: #ff0000;
}

.cadastrarbtn {
    width: 182px;
    background-color: var(--fonte4);
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.cadastrarbtn:hover{
    background-color: #46cc55;

}

.edit:hover {
    background-color: #37ec37;
}